<!-- views/partials/header.ejs -->

  <a href="https://www.cmd-amsterdam.nl/"><img class="logo" src="images/HVA_logo.svg" alt="CMD AMSTERDAM"></a>
<nav id="to-top">
  <ul>
    <li><a href="#">STUDENTENWERK</a></li>
    <li><a href="#">SAMENWERKEN</a></li>
    <li><a href="#">BATTERY</a></li>
    <li><a href="#">NIEUWS</a></li>
    <li><a href="#">ENGLISH</a></li>
    <li><a href="#">CONTACT</a></li>
  </ul>
</nav>
