<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="theme-color" content="#b90000"/>
<meta name="CMD" content="CMD Amsterdam">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<title>CMD Amsterdam</title>
