<!-- views/partials/header.ejs -->
<div class="logo">
  <a href="https://www.cmd-amsterdam.nl/"><img src="images/HVA_logo.svg" alt="CMD AMSTERDAM"></a>
</div>
<nav>
  <ul>
    <li><a href="#">STUDENTENWERK</a></li>
    <li><a href="#">SAMENWERKEN</a></li>
    <li><a href="#">BATTERY</a></li>
    <li><a href="#">NIEUWS</a></li>
    <li><a href="#">ENGLISH</a></li>
    <li><a href="#">CONTACT</a></li>
  </ul>
</nav>
