<!DOCTYPE html>
<html lang="en">
  <head>
   <% include partials/head %>
  </head>
  <body>
   <header>
     <% include partials/header %>
   </header>
    <main>
      <section class="heading_image">
      <div class="content">
      <h2>Studentenwerk</h2>
      <p>Bekijk hier ons beste werk.</p>
      <button type="button" name="button" class="goldendot">GOLDEN DOT AWARDS 2019</button>
      </div>
      </section>
      <div class="projects">
        <h2>All</h2>
        <ul>
          <li>Maak een selectie:</li>
          <a href="#"><li>All</li></a>
          <a href="#"><li>Afstudeerjaar</li></a>
          <a href="#"><li>Derde jaar</li></a>
          <a href="#"><li>Propedeuse</li></a>
          <a href="#"><li>Tweede jaar</li></a>
        </ul>
      </div>
      <section>
        <article class="project-item">
          <a href="#">
          <img aria-label="image project" src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/06/LR-kip-3-kopi%C3%ABren.jpg"  height="265px" width="395px"alt="">
          </a>
          <h4>The Game Changer</h4>
          <p>The Game Changer houdt de game-uren van uw kind bij. Als de tijd verstreken is kan uw kind niet meer spelen. Hoe eerder je stopt met gamen, hoe meer bonusuren je krijgt.</p>
        </article>
        <article class="project-item">
          <a href="#">
          <img aria-label="image project" src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/07/LR-Featured-screen1.jpg"  height="265px" width="395px"alt="">
          </a>
          <h4>Rupsie</h4>
          <p>Rupsie is een app voor kinderen van 5-6 jaar. Met Rupsie maken kinderen, in combinatie met AR, vrolijke deuntjes voor beestjes. Het combineert op slimme wijze de fysieke en digitale wereld.</p>
        </article>
        <article class="project-item">
          <a href="#">
          <img aria-label="image project" src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/06/crop-featured-home.jpg"  height="265px" width="395px"alt="">
          </a>
          <h4>Exclusive Design</h4>
          <p>Deze groep studenten heeft een tailor made website gebouwd voor Marie, een Dove ontwerpster, en voor Marijn, een developer die motorisch beperkt is. Een website vol unieke user interface experimenten.</p>
        </article>
        <article class="project-item">
          <a href="#">
          <img aria-label="image project" src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/06/Logo-Copy.png"  height="265px" width="395px"alt="">
          </a>
          <h4>Mantelzorg assistent</h4>
          <p>Met 'Mantelzorg assistent' kan je als mantelzorger op een laagdrempelige manier ontspanning, contact (met andere mantelzorgers) en inzicht krijgen, om tot rust te komen.</p>
        </article>
        <article class="project-item">
          <a href="#">
          <img aria-label="image project" src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/06/LR-3-App-icon.jpg"  height="265px" width="395px"alt="">
          </a>
          <h4>HUB</h4>
          <p>Met HUB zal het vervoer van bedrijven in de binnenstad op een duurzame manier veranderen. Via een app kunnen werknemers slimme voertuigen - met digitaal slot - reserveren, beheren en classificeren.</p>
        </article>
        <article class="project-item">
          <a href="#">
          <img aria-label="image project" src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/06/LR-Screen-Shot-2018-06-28-at-15.58.16.jpg"  height="265px" width="395px"alt="">
          </a>
          <h4>Spotify Together</h4>
          <p>Spotify Together is een product waarbij je gesynchroniseerde playlisten kunt maken met meerdere personen. In de playlist kunnen nummers toegevoegd en geliked worden om gezamenlijk de sfeer te bepalen.</p>
        </article>
        <article class="project-item">
          <a href="#">
          <img aria-label="image project" src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/06/FEATURED-blook-gda.jpg"  height="265px" width="395px"alt="">
          </a>
          <h4>BLOOK</h4>
          <p>BLOOK is een interactieve tafel die een brug slaat tussen fysieke boekhandels en online retailers. Hierdoor blijven winkels competitief en de nostalgie behouden.</p>
        </article>
        <article class="project-item">
          <a href="#">
          <img aria-label="image project" src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/06/Middeninkomens-Gezinnen-Ontwerpdocument-LR-crop.jpg"  height="265px" width="395px"alt="">
          </a>
          <h4>Middeninkomens op de woningmarkt</h4>
          <p>Een korte video en bijbehorende website die de gevolgen van de ontwikkelingen in de Amsterdamse huizenmarkt voor gezinnen met een middeninkomen visualiseert.</p>
        </article>
        <article class="project-item">
          <a href="#">
          <img aria-label="image project" src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/06/LR-IMG_9035.2.jpg"  height="265px" width="395px"alt="">
          </a>
          <h4>Ludicity</h4>
          <p>Onrustige dromen of moeilijk slapen? Lucidity helpt. Leer dromen te sturen en bepaal zelf wat er 's nachts gebeurt. Neem controle over je nachtrust en versla elke nachtmerrie!</p>
        </article>
        <a href="#to-top"></a>
      </section>

    </main>
   <script type="module" src="js/main.js"></script>
   <footer>
     <% include partials/footer%>
   </footer>
 </body>

</html>
