<!DOCTYPE html>
<html lang="en">
  <head>
   <% include partials/head %>
  </head>
  <body>
   <header>
     <% include partials/header %>
   </header>
    <main>
      <section class="offline">
        <h1>U bent offline</h1>
        <p>U heeft momenteel een slechte verbinding daardoor wordt niet alle content getoond</p>
      </section>
    </main>
   <script type="module" src="js/main.js"></script>
   <footer>
     <% include partials/footer%>
   </footer>
 </body>

</html>
